/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  padding-top:30px;
}
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  /*font-weight: bold;*/
}
@media screen and (min-width: 768px) {
	.modal-dialog {
		right: auto;
		left: 50%;
		width: 60%; /* adjusted */
		padding-top: 5%; /* adjusted */
		padding-bottom: 5%; /* adjusted */
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

#user_id {
    color: white;
    margin-top: 20px;
}

.refreshButtonStyle{
  position: absolute;
  bottom: -365px;
  right: -180px;
}

/* NAVBAR */
.navbar-brand {
	font-size: 24px;
	font-weight: bold;
}
.navbar h1 {
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	/*text-transform: uppercase;*/
	margin-top: 10px;
}
.navbar h1 a {
	color: #fff;
}
.navbar h1 a:hover {
	text-decoration: none;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}
.navbar-nav {
	margin-top: -5px;
}
.navbar a {
	cursor: pointer;
}
.tooltip { 
  pointer-events: none;
}

/* Full Page Image Header Area */

.header {
  /*display: table;*/

  min-height: 100%;
  overflow:auto; /*height adjustment*/
  
  /*width: 100%;*/
  /*position: relative;*/
  background: url(../img/bg.jpg) no-repeat center center; /*fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.header-title, .header-carousel{
	padding-top: 20px;
}

.header-title h1 {
  padding: 75px 0 0;
  margin: 0;
  font-size: 3.5em;
  font-weight: 700;
}
.header-title h4 {
	font-family: 'danielbold';
	font-size: 2.2em;
	color: #2C3E50;
	line-height: 1.5;
}
.carousel-inner .item {
	margin-top:20px;
	margin-bottom:20px;
	height:350px;
	width: 100%;
	
}
.carousel-inner .item  img {
    width: auto;
    height:100%;
	margin-left: auto;
	margin-right: auto;
}
.carousel-inner .item  img, .carousel-inner .item div {
	/*cursor:pointer;*/
}
.carousel .item {
  background-color: rgba(0,0,0,0);
}
.carousel-control.left , .carousel-control.right{
	background: rgba(0,0,0,0);
	padding-left:0px;
	padding-right:0px;
	color: black;
}
.carousel-control {
	font-size: 30px;
}
.carousel-caption {
	color: #e74c3c;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 5px;
}
.carousel-caption:hover {
	color: #e74c3c;
	text-decoration: none;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
	/*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);*/
}
.carousel-caption p {
	color: #5a5a5a;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  position: initial;
  padding-top: 185px;
  left: auto;
  z-index: 5;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* INTRO */

.intro {
  background: #2c3e50;
  padding: 50px 0;
  color: #ffffff;
}

/* SERVICES */

.services {
  background: #2c3e50;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}
.service-item  i {
	cursor: pointer;
}
i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

i.service-icon:hover {
  font-size: 68px;
  box-shadow: 0px 0px 10px #AAA;
}

i.satellite-icon {
  background-image: url('../img/sat_img.png');
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 140px;
  height: 140px;
  vertical-align: middle; 
  background-repeat: no-repeat;
  background-size: 56%;
  background-position: center
}

i.satellite-icon:hover {
  background-size: 68%;
  box-shadow: 0px 0px 10px #AAA;
}

/* CALLOUT */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/section-two_lost.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* PORTFOLIO */

.portfolio {
  padding: 50px 0;
  background: url(../img/gplaypattern.png) top left repeat;
}

.portfolioFilterRow {
	margin: 1em;
	padding: 1em;
	background: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 5px #CCC;
	overflow:auto; /*height adjustment*/
}
.portfolioColumn {
	margin: 1em;
	padding: 1em;
	background: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 5px #CCC;
}
.portfolioElement {
	padding: 1em;
	min-height: 400px;  /*set to largest thumbnail, so all boxes match*/
}
.portfolioElement a {
	text-decoration: none;
	color: #5a5a5a;
}
.product-description {
	/*padding-top: 1em;*/
}

/* Portfolio hover animation */
.ih-item {
	margin: auto;
}
.ih-item.circle.effect13 .info h3 {
	font-size: 16px;
}
.ih-item.circle {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 220px;
	box-shadow: 0px 0px 10px #999;
}

/* Portfolio Filtering */
.filter-button{
	width: 100%;
	text-align: left;
	border-radius: 0px;
}
.morefilter-button{
	width: 100%;
	text-align: left;
	border-radius: 0px;
}
.btn-unit {
  background-color: #E0E0E0; /*#F4B3B3;*/
  margin-bottom: 5px;
  margin-right: 3px;
}
.btn-unit:focus {
  outline:0;
  color: black;
}
.btn-unit:hover,
.btn-unit.filtering {
  background-color: #A8A8A8; /*#D35656;*/
  outline: 0;
  color:#f5f5f5;
}
.btn-class{
  background-color: #E0E0E0; /*#8ec06c;*/
  margin-bottom: 5px;
  margin-right: 3px;
}
.btn-class:focus{
  outline:0;
  color: black;
}
.btn-class:hover,
.btn-class.filtering  {
  background-color: #A8A8A8; /*#537b35;*/
  outline: 0;
  color:#f5f5f5;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

 * html .ui-autocomplete {
  height: 100px;
 }
 
 .ui-autocomplete-input {
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #BDBDBD;
 }

/* Filtered item not displayed */
.noMatch{
  display: none;
}

/* CALL TO ACTION */
.call-to-action {
  color: #e74c3c;
  background: #2c3e50;
  padding: 50px 0;
}
.call-to-action .btn, .call-to-action .form-control {
  margin-bottom: 30px;
  margin-top: 30px;
}
.input-group .form-control, .input-group-btn:last-child > .btn {
	border-radius: 0px;
}
.input-group-navbar {
}
.search-option-descr{
	color: #fff;
}

.searchproductinput{
	width: 80px;
	display: inline-block;
	
}
.searchproductsbutton{
	height: 34px;
	width: 30px;
	background-color: #F2F2F2;
	text-align: center;
	text-indent: -2px;
	display: inline-block;
}

.searchproductresult{
	z-index: 1035;
}

.title{
color: #fff;
font-weight: bold;
font-size: 20px;
}

.title a {
  color: #fff;
}
.title:hover{
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}


/* MAP */
/*#map {
  height: 400px;
}*/

/* CONTACT */
.contact {
  padding: 50px 0;
  /*height: 80%;*/
}

/* FOOTER */
footer {
  padding: 50px 0;
  height: 70%;
}


